* {
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  background: #A1AB00;
  background: linear-gradient(90deg,rgba(161, 171, 0, 0.33) 0%, rgba(0, 90, 171, 0.33) 50%, rgba(171, 8, 0, 0.33) 100%);
}
